.but {
  display: inline;
  margin-right: 10px;
}
.input-frame {
  outline: 1px solid green;
}
.input-letters-true {
  color: green;
}
.input-letters-false {
  color: red;
}
.input-frame-red:hover {
  outline: 1px solid red;
}
