.text-color {
  font-weight: bold;
}
h3 {
  color: rgb(19, 19, 207);
  text-transform: uppercase;
}
#btn {
  height: 40px;
  width: 180px;
  background-color: rgb(231, 22, 22);
  font-family: "Roboto";
  color: #ffffff;
  text-transform: uppercase;
}
.frame {
  border: 1px solid rgb(216, 34, 34);
  width: 400px;
  text-align: center;
  margin-top: 30px;
  background-color: rgb(241, 200, 241);
}
